name: Build images
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5'

env:
  KERNEL_BRANCH: 6.12.1

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out build configurations
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static jq
          sudo systemctl restart systemd-binfmt.service || true

      - name: Substitute placeholders in configs
        run: |
          find . -type f -name "*.cfg" -exec sed -i "s|HOME|$(echo $HOME)|;s|NPROC|$(nproc)|" {} +

      - name: Install pmbootstrap from git
        run: |
          git clone --depth=1 https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
          mkdir -p ~/.local/bin
          ln -s "$PWD/pmbootstrap/pmbootstrap.py" ~/.local/bin/pmbootstrap
          pmbootstrap --version

      - name: Set up pmaports
        run: |
          echo -e '\n\n' | pmbootstrap init || true
          cd ~/.local/var/pmbootstrap/cache_git/pmaports
          git remote add sm7125 https://github.com/sm7125-mainline/pmaports.git
          DEFAULT_BRANCH=$(git remote show sm7125 | awk '/HEAD branch/ {print $NF}')
          git fetch sm7125 $DEFAULT_BRANCH
          git reset --hard sm7125/$DEFAULT_BRANCH
          # Исправляет конфликты версий (exit code 12)
          pmbootstrap index

      - name: Check kernel branch
        run: |
          DEFAULT_BRANCH=$(curl -s https://api.github.com/repos/sm7125-mainline/linux | jq -r '.default_branch')
          echo "KERNEL_BRANCH=$DEFAULT_BRANCH" >> $GITHUB_ENV

      - name: Clone kernel sources
        run: |
          git clone https://github.com/sm7125-mainline/linux.git --single-branch --branch ${{ env.KERNEL_BRANCH }} --depth 1 ./linux

      - name: Compile kernel with envkernel
        run: |
          # Используем joyeuse как базовый конфиг для сборки ядра
          cp xiaomi-joyeuse.cfg ~/.config/pmbootstrap_v3.cfg
          cd linux
          shopt -s expand_aliases
          source ../pmbootstrap/helpers/envkernel.sh
          make defconfig sm7125.config
          make -j$(nproc)
          pmbootstrap build --envkernel linux-postmarketos-qcom-sm7125

      - name: Create artifact directory
        run: |
          mkdir out

      - name: Build xiaomi-joyeuse
        run: |
          cp xiaomi-joyeuse.cfg ~/.config/pmbootstrap_v3.cfg
          # Предварительная сборка базы, чтобы избежать ошибок инициализации chroot
          pmbootstrap build postmarketos-base-systemd --arch aarch64
          
          # Сборка для tianma
          pmbootstrap install --password 147147
          pmbootstrap export
          cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-tianma-joyeuse.img
          cp /tmp/postmarketOS-export/xiaomi-miatoll.img out/rootfs-xiaomi-joyeuse.img
          
          # Сборка для huaxing
          sed -i 's/tianma/huaxing/g' ~/.config/pmbootstrap_v3.cfg
          pmbootstrap export
          cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-huaxing-joyeuse.img
          
          xz -T0 -9e -v out/rootfs-xiaomi-joyeuse.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xiaomi-joyeuse-${{ env.KERNEL_BRANCH }}
          path: out/*-joyeuse.img*
          retention-days: 7

