name: Build Joyeuse Plasma
on:
  push:
  workflow_dispatch:

env:
  KERNEL_BRANCH: 6.12.1

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Check out build configurations
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static jq git
          sudo systemctl restart systemd-binfmt.service || true

      - name: Substitute placeholders in configs
        run: |
          sed -i "s|HOME|${HOME}|g" xiaomi-joyeuse.cfg
          sed -i "s|NPROC|$(nproc)|g" xiaomi-joyeuse.cfg

      - name: Install pmbootstrap from git
        run: |
          git clone --depth=1 https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
          mkdir -p ~/.local/bin
          ln -s "$PWD/pmbootstrap/pmbootstrap.py" ~/.local/bin/pmbootstrap
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Set up pmaports
        run: |
          mkdir -p ~/.config
          cp xiaomi-joyeuse.cfg ~/.config/pmbootstrap_v3.cfg

          # Полностью неинтерактивная инициализация
          pmbootstrap init --no-interactive

          cd ~/.local/var/pmbootstrap/cache_git/pmaports
          git remote add sm7125 https://github.com/staricashka6X/pmaports-sm7125.git
          git fetch sm7125
          git reset --hard sm7125/main

          pmbootstrap index

      - name: Clone kernel sources
        run: |
          git clone --depth 1 --branch $KERNEL_BRANCH https://github.com/staricashka6X/kernel_xiaomi_sm7125.git linux

      - name: Compile kernel
        run: |
          cd linux
          shopt -s expand_aliases
          source ../pmbootstrap/helpers/envkernel.sh

          # Конфиги должны существовать в репозитории ядра
          make defconfig sm7125.config
          make -j$(nproc)

          pmbootstrap build --envkernel linux-postmarketos-qcom-sm7125

      - name: Build Joyeuse Image
        run: |
          mkdir out

          # Tianma
          pmbootstrap install --password 670276 --no-fpart
          pmbootstrap export
          cp /tmp/postmarketOS-export/boot.img out/boot-tianma-joyeuse.img
          cp /tmp/postmarketOS-export/xiaomi-miatoll.img out/rootfs-joyeuse.img

          # Huaxing
          sed -i 's/kernel = joyeuse_tianma/kernel = joyeuse_huaxing/' ~/.config/pmbootstrap_v3.cfg
          pmbootstrap export
          cp /tmp/postmarketOS-export/boot.img out/boot-huaxing-joyeuse.img

          xz -T0 -v out/rootfs-joyeuse.img

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: joyeuse-plasma-mobile
          path: out/*