name: Build Joyeuse Plasma Mobile
on:
  push:
  workflow_dispatch:

env:
  KERNEL_BRANCH: linux-6.16

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Check out build configurations
        uses: actions/checkout@v4

      - name: Substitute placeholders in configs
        run: |
          find . -type f -name "*.cfg" -exec sed -i "s|HOME|$(echo $HOME)|;s|NPROC|$(nproc)|" {} +

      - name: Install pmbootstrap 3.6.0
        run: |
          git clone --depth=1 --branch 3.6.0 https://gitlab.postmarketos.org/postmarketOS/pmbootstrap.git
          mkdir -p ~/.local/bin
          ln -s "$PWD/pmbootstrap/pmbootstrap.py" ~/.local/bin/pmbootstrap
          pmbootstrap --version

      - name: Initialize pmbootstrap (non-interactive)
        run: |
          echo -e '\n\n' | pmbootstrap init || true

      - name: Clone kernel sources (linux-6.16)
        run: |
          git clone https://github.com/sm7125-mainline/linux.git \
            --single-branch --branch ${{ env.KERNEL_BRANCH }} --depth 1 ./linux

      - name: Prepare pmbootstrap config for joyeuse
        run: |
          cp xiaomi-joyeuse.cfg ~/.config/pmbootstrap_v3.cfg

      - name: Build kernel as package (NO envkernel)
        run: |
          cd linux
          shopt -s expand_aliases
          source ../pmbootstrap/helpers/envkernel.sh
          make defconfig sm7125.config
          make -j$(nproc)
          pmbootstrap build linux-postmarketos-qcom-sm7125

      - name: Create artifact directory
        run: mkdir out

      - name: Build joyeuse rootfs (Tianma only, for U-Boot)
        run: |
          cp xiaomi-joyeuse.cfg ~/.config/pmbootstrap_v3.cfg
          pmbootstrap install --password 670276
          pmbootstrap export
          # Нужен только rootfs, boot* не трогаем
          cp /tmp/postmarketOS-export/xiaomi-miatoll-root.img out/rootfs-xiaomi-joyeuse.img
          # При желании можно сразу сжать:
          # xz -T0 -9e -v out/rootfs-xiaomi-joyeuse.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xiaomi-joyeuse-${{ env.KERNEL_BRANCH }}
          path: out/*
          retention-days: 70